/************************
Css orignal https://codepen.io/jlalovi/details/bIyAr
************************/
/* Menu */

.navbar {
    display: flex;
    text-align: center;
    padding: 20px;
}
#bars {
    display: none;
}

#menu {
    display: flex;
    flex:1; 
    text-align: right;
    margin:-60px 0 0 0;
}
@media only screen and (max-width:768px){
    
    #bars {
        display: block;
        margin:-40px 0 0 0;
    }
    
    
    nav ul {
        display: inline block;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        
    }

	nav ul li {
		display: inline-block;
		margin-right: 20px;
		display: flex;
        flex-direction: column;
	}
	
    #menu {
        display: none;
        margin:70px 0 0 0;
        /* display: flex;
        flex-direction:column; */
    }
    
    
}


nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav a:hover {
    color: rgb(255, 187, 0);
    border-radius: 30px;
    text-decoration: underline;
}


.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
}

body{
    background-color: rgb(25, 29, 36);
}

ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}

h1 {
	font-size: 35px;
	font-weight: bold;
}

h2 {
	font-size: 17px;
}

p {
	font-size: 15px;

}


h1, h2,p,a, span{
	color: #fff;
}
	.scnd-font-color {
		color: #f0f0f3;
	}
		
 /* CARD */
/*-------- global --------*/

.container1 {
	margin: 50px;
}

/*-------- flex container --------*/
.flex-container1 {
	display: flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	justify-content: space-around;
	list-style: none;
	margin: 0;
	padding: 0;
	-webkit-flex-flow: row wrap;
	position: relative;
}
.flex-item {
	color: #fff;
	height: 210px;
	margin: 10px 70px;
	padding: 0;
	width: 225px;
	position: relative;
}
.flex-item-inner {
	display: flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 210px;
	margin: 0;
	padding: 0;
	width: 100%;
    
}
.flex-item-inner a {
	color: #fff;
	cursor: pointer;
}

/*-------- cards --------*/
.card-front,
.card-back {
	position: absolute;
	top: 0;
	left: 0;
	width: 260px;
	height: 170px;
	padding: 20px;
    border-radius: 25px;
	margin: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	justify-content:flex-end ;
    color: #fff;
}
.card-front i.tile-icon {
	display: block;
	margin: 10px auto 20px auto;
	text-align: center;
}
.card-front h4 {
	font-size: 18px;
	font-weight: normal;
	margin: 10px 0;
}
.card-front p.detail {
	font-size: 24px;
	font-weight: bold;
	margin: 0;
}

.card-front.bg-magenta {
	background-color: rgb(165, 126, 19);
}
.card-front.bg-blue {
	background-color: rgb(165, 126, 19);
}

.card-back {
	background-color: #1e1e1e;
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}
.card-back p.title {
	color: #000;
	margin-top: 0;
	text-transform: uppercase;
}
.card-back p.desc {
	color: #63666a;
}
.card-back p.link {
	color: #702082;
}

.card-back.bg-magenta {
	background-color: #ddd0cf;
}
.card-back.bg-blue {
	background-color: #c8d7df;
}

/*-------- cards / flip effect --------*/
.flex-item:hover .card-front {
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}
.flex-item:hover .card-back {
	-webkit-transform: rotateY(0);
	transform: rotateY(0);
}

/* Table */
.table__wrapper {
    overflow-y: auto;
	height:500px;
    width: 100%;
    /* border: 1px solid #f0f0f0; */
	/* border-radius: 25px; */
  }
  
  .table__wrapper .table {
    width: 100%;
    max-width: 100%;
  }
  
  .table tr th,
  .table tr td {
    white-space: nowrap;
  }

  .table tr:nth-child(even) {background-color: #f2f2f2;}
  
  /* ------- Presentational Formatting --------- */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  .center {
    margin:0 10% 10% 10%;
    width: 40%;
  }
  
  .table {
    border-collapse: collapse;
    color:black;
    background-color: white ;
	padding: 10px;
	box-shadow: 2px 2px 3px 7px #2e2727;
	border-radius: 20px;
  }
/*   
  .table tr {
    border-bottom: 1px solid #f0f0f0;
  } */
  
  .table thead tr {
    border-bottom: 2px solid #f0f0f0;
  }
  
  .table thead th {
    text-align: center;
	background-color: #ca0043;
	color: white;
  }
  
  .table td,
  .table th {
    padding: .5em;
    /* border-right: 1px solid #f0f0f0; */
  }

  /* th{
	background-color: #ca0043;
	color: white;
  } */
  
  .table td {
    text-align: center;
  }
  
  .table th {
    text-align: left;
	background-color: #ca0043;
	color: white;
  }


  .myflex{
	  display: flex;
	  flex-direction: row;
	  /* justify-content: space-evenly; */
  }

  .lineGraph{
	height: 500px; 
	width: 700px;
	margin:0 7% 10% 7%;
  }
  @media only screen and (max-width: 1000px){
	.myflex{
		display: flex;
		flex-direction: column;
		/* justify-content: space-evenly; */
	}

	.lineGraph{
		height: 400px; 
		width: auto;
		margin:0 10% 10%;
	  }

	.table{
		width:50%;
		height:auto;
		/* margin:0 10% 10% 20%; */
	}

	.table__wrapper {
		overflow-y: auto;
		height:auto;
		width: 75%;
		/* border: 1px solid #f0f0f0; */
		/* border-radius: 25px; */
	  }

	  .center {
		margin:0 10% 10% 10%;
		width: auto;
	  }
  }


  /* Pie chart */

  .highcharts-figure, .highcharts-data-table table {
    min-width: 320px; 
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}


input[type="number"] {
	min-width: 50px;
}