 body{
    background: url("watersensor-try/img/drop4.jpg");
    width: auto;
    height:auto; 
    
}

.frm{  
    border: solid gray 1px;  
    width:25%;  
    border-radius: 20px;  
    margin: 150px auto;  
    background: white;  
    padding: 30px;  
}  
#btn{  
    color: #fff;  
    background: #073eb6;  
    padding: 7px auto;
    width: 5em;  
    margin-left: 40%;  
}  

.textbox{ 
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.createacc{
    margin:0 0 0 4em;
    color: blue;
}

@media screen and (max-width: 300px) {
    #btn {
      width: 3em;
    }

    .createacc{
        margin:auto;
    }
  }
