* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*.topnav {
    display: flex;
    align-items: center;
    padding: 20px;
    overflow: hidden;
    flex: 1;
    text-align: right;
  }
  
  .topnav a {
    display: inline block;
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    color: red;
    border-radius: 30px;
    text-decoration: underline;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
*/
.navbar {
    display: flex;
    text-align: center;
    padding: 20px;
}
#bars {
    display: none;
}

#menu {
    display: flex;
    flex:1; 
    text-align: right;
    margin:-60px 0 0 0;
}
@media only screen and (max-width:768px){
    
    #bars {
        display: block;
        margin:-40px 0 0 0;
    }
    
    
    nav ul {
        display: inline block;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        
    }
    #menu {
        display: none;
        margin:70px 0 0 0;
        /* display: flex;
        flex-direction: column; */
    }
    
    
}


nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: red;
    border-radius: 30px;
    text-decoration: underline;
}

p {
    color: white;
    font-size: 20px;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0 0 0;

}

.col-2 h3 {
    font-size: 30px;
    line-height: 40px;
    text-align: center;

}

.col-2 h1 {
    font-size: 50px;
    margin: 25px 0;
    line-height: 60px;
}

.btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 20px;
    margin: 30px 0;
    transition: background 0.5s;
    border-radius: 30px;
}

.btn:hover {
    background: #563434;
}

body {
    background: radial-gradient(#fff,#020273);
    font-family: 'Poppins', sans-serif;
}

.header .row {
    margin-top: 70px;
}

.container2 {
    padding:50px 100px;
    background-color:#ffffff;
}

input[type=text],
input[type=password],
textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: darkgray;
    outline: none;
}

div {
    padding: 10px 0;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.submitbtn {
    background: red;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    transition: background 0.5s;
}

.submitbtn:hover {
    opacity: 1;
    background:#a60000;
}

.contact-details{
    display:flex;
    flex-direction:column;
}

